mta_archives/
node_modules/
default-*.json
.env
.yo-rc.json
.vscode/
coverage/
gen/
dist/
*-content.zip
manifest-bundle.zip
connection.properties
*.db
*.mtar
*.log
_out
.che/
.gen/
.DS_Store
**/*.js.map
/srv/catalog-service.js
/srv/cfcommands.js
/srv/modelservice.js
/srv/provisioning.js
/srv/mtxapis.js

srv/src/monitoring.js
srv/monitoring-service.js
default-env.json.freetier
default-env.json.nexontis